Index Here

<script>

var channelId = "12352";

document.addEventListener('DOMContentLoaded', function(event) {
	App.publish = App.cable.subscriptions.create({ channel: "PublishChannel", channelId: channelId }, {
		connected: function() {
		},

		disconnected: function() {
		},

		received: function(data) {
			console.log('received data: ', data);
			if (data["consumerChannelId"]) {
				console.log("consumerChannelId: ", data["consumerChannelId"])
			}
			msg = new Date().toLocaleString() + "<br/>" + JSON.stringify(data) + "<br/>" + "<br/>";
			document.getElementById('message').innerHTML = document.getElementById('message').innerHTML + msg;
		}
	});

})

function send(page, card) {
	data = {
		channelId: channelId,
		message: {
			type: "tract_navigation",
			attributes: {
				tool: "kgp",
				language: "en-US",
				page: page,
				card: card
			}
		}
	}

	App.publish.send(data);
}

</script>

<button onClick="send(1, 1)">Go page 1, card 1</button>

<p>Message history (new messages at bottom):</p>

<div id="message" style="background-color: grey;"><br/></div>
